.about-us {
  padding-top: 31px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 34px;
  }
}

.about-us__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.about-us__heading {
  margin: 0;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: 41px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    margin-bottom: 39px;
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    column-gap: 0;
    column-count: 2;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 6;
  }
}

.about-us__item {
  display: flex;
  flex-direction: column;
  min-height: 94px;
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 101px;
    margin-bottom: 54px;
  }

  &::before {
    display: block;
    content: "";
    width: 55px;
    margin-bottom: 16px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: left bottom;

    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }

  &--materials::before {
    background-image: url("../img/icon-1.svg");
  }

  &--price::before {
    background-image: url("../img/icon-3.svg");
  }

  &--likes::before {
    background-image: url("../img/icon-5.svg");
  }

  &--love::before {
    background-image: url("../img/icon-2.svg");
  }

  &--manufacturer::before {
    background-image: url("../img/icon-4.svg");
  }

  &--package::before {
    background-image: url("../img/icon-6.svg");
  }
}
