.button {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  background: $basic-white;
  border: 2px solid $basic-gray;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $basic-gray;
  text-transform: uppercase;

  &:hover,
  &:active {
    background: linear-gradient(0deg, $basic-gray, $basic-gray);
    color: $basic-white;
  }

  &:active {
    color: rgba($basic-white, 0.3);
  }
}
