.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__wrapper {
  margin-bottom: 62px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr) 3fr;
  }
}

.contacts__heading {
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -20px;
      right: 0;
      content: "";
      width: 47px;
      height: 82px;
      background-image: url("../img/tablet/flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (min-width: $desktop-width) {
      top: -20px;
      left: -100px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    justify-content: start;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    margin-bottom: 0;
  }
}

.contacts__text {
  margin: 0;
  min-width: 76px;
}

.contacts__value {
  display: block;
  min-width: 183px;
  color: $basic-gray;
  font-style: normal;
}

.contacts__map {
  margin-bottom: 36px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 5;
    margin-bottom: 0;
  }
}

.contacts__button {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin: auto;
    margin-left: 0;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
  }
}
