.intro-inner {
  padding-top: 73px;
  padding-bottom: 73px;
  background-color: $basic-white-200;
}

.intro-inner__heading {
  margin: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $basic-black;
}
