.intro {
  display: flex;
  padding-top: 73px;
  min-height: 489px;
  background-color: $basic-gray-bg-hero;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  /* width: 320px;
  height: 283px; */

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    min-width: 768px;
    height: 684px;
    background-image: url("../img/hero-tablet.jpg");
    background-position: center -62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-right: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    /* display: grid;
    grid-template-rows: 1fr min-content;
    width: 100%; */
    padding-right: 50px;
    padding-left: 50px;
  }
}

.intro__heading {
  margin: 0;
  min-height: 90px;
  padding: 0 30px;
  color: $basic-black;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.intro__links {
  font-size: 19px;
  font-weight: bold;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.intro__link {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  background-color: $basic-green-lighten;

  &:last-of-type {
    background-color: $basic-green-darken;
  }

  &::after {
    content: "";
    width: 60px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 33px;
    padding-bottom: 31px;
    padding-left: 36px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  &--interior {
    &::after {
      background-image: url("../img/interior.svg");
    }

    @media (min-width: $tablet-width) {
      grid-column: 1 / 2;
    }
  }

  &--toys {
    &::after {
      background-image: url("../img/toy.svg");
    }

    @media (min-width: $tablet-width) {
      grid-column: 2 / 3;
    }
  }
}
