/* .main-nav {
}

.main-nav__toggle {
} */

.main-nav__delivery {
  margin: 0;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    right: 50px;
    bottom: -60px;
  }
}
