.page-header {
  padding-top: 22px;
  min-height: 79px;
  /* padding-bottom: 22px; */
  text-align: center;
  box-shadow: inset 0 1px 0 0 $basic-white-100;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    background-image: linear-gradient($basic-white 88px, $basic-gray-100 89px, $basic-gray-bg-hero 89px);
    padding-top: 0;
    padding-bottom: 16px;
  }
}

.page-header--inner {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-white 88px, $basic-gray-200 89px, $basic-white-200 89px);
  }
}
