.page-footer {
  background: $basic-white-200;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  display: none;
  order: 3;

  @media (min-width: $tablet-width) {
    display: block;
    order: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  min-width: 182px;
  min-height: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
