.page-main-inner--catalog {
  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
  }
}

.page-main__production {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }
}
