.products {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -12px;
    padding-top: 91px;
    padding-bottom: 40px;
    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
  }

  @media (min-width: $desktop-width) {
    top: -15px;
    padding-top: 145px;
    padding-bottom: 42px;
    background-image: url("../img/zigzag-fill-desktop2.svg");
    background-position: 0 0;
  }
}

.products__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}

.products__item {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .product__wrapper,
  &:focus .product__wrapper {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1);
  }

  &:active .product__wrapper {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1);
  }
}
