.promo {
  padding-top: 31px;
  padding-bottom: 42px;
  background-image: url("../img/mobile/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.promo__heading {
  margin: 0;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}

.promo__stock {
  margin: 0;
  margin-bottom: 17px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-green-lighten;
}

.promo__text {
  margin: 0;
  margin-bottom: 18px;
}

.promo__list {
  margin: 0;
  line-height: 20px;
}

.promo__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid $basic-white-100;

  &:last-child {
    margin-bottom: 28px;
  }
}

.promo__parameter {
  min-width: 97px;
}

.promo__value {
  margin: 0;
  min-width: 162px;
}

.promo__price {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 23px;
  font-weight: bold;
}
