.social {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 142px;
  height: 28px;
}

.social__link {
  color: $basic-black;

  &:hover,
  &:focus {
    color: $basic-green-darken-hover;
  }

  &:active {
    color: $basic-green-darken-hover;
    opacity: 0.3;
  }
}
