.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  width: 184px;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
    width: 181px;
  }
}

.social__item {
  margin-bottom: 21px;
  align-self: center;
  flex-basis: 61px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-basis: 60px;
  }
}

.social__link {
  color: $basic-black;

  &:hover,
  &:focus {
    color: $basic-green-darken-hover;
  }

  &:active {
    color: $basic-green-darken-hover;
    opacity: 0.3;
  }
}
