// Colors
$basic-white: #ffffff;
$basic-white-100: #ececec;
$basic-white-200: #f1f1f1;
$basic-gray: #444444;
$basic-black: #000000;
$basic-green-lighten: #63d1bb;
$basic-green-lighten-100: #62d1ba;
$basic-green-darken: #56c3b2;

// Fonts
$default-font: "Open Sans", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
